# Ignora file di runtime di Kodi
temp/
**/*.log
**/*.db
**/*.db-shm
**/*.db-wal
**/*.pyo
**/*.pyc
__pycache__/

# Credenziali SSH o config SSHFS locali
.ssh/
.sshfs*

# Backup editor
*~
*.swp
*.swo

# File di sistema
.Trash-*
.DS_Store
ehthumbs.db
Thumbs.db

# Tutti gli addon esclusi tranne quelli custom
remote/addons/*
!remote/addons/script.myaddon.debug/

# VS Code config inclusa
!.vscode/
# +10000 files! troppi
remote/userdata/Thumbnails/
remote/playlist/
remote/cdm/
remote/system/
remote/media/
remote/userdata/addon_data/plugin.audio.soundcloud/cache/
remote/userdata/addon_data/plugin.video.composite_for_plex/cache/

remote/userdata/addon_data/**/cache/
remote/userdata/addon_data/**/bin/
remote/userdata/addon_data/**/*.dat
remote/userdata/addon_data/**/*.bak
remote/userdata/addon_data/**/*.nfo
remote/userdata/addon_data/**/*.strm
remote/userdata/addon_data/plugin.video.kod/videolibrary/
remote/userdata/addon_data/**/*.png
remote/userdata/addon_data/script.cu.lrclyrics/lyrics/
remote/userdata/addon_data/script.module.autocompletion/
remote/userdata/addon_data/**/*.log.*
remote/userdata/addon_data/**/*.zip
remote/userdata/addon_data/**/*.def
remote/userdata/addon_data/**/*.sqlite
remote/userdata/addon_data/**/*.xml
remote/userdata/addon_data/**/*.json
remote/userdata/addon_data/**/*.*-shm
remote/userdata/addon_data/**/*.*.wal
remote/userdata/addon_data/**/settings.xml
remote/userdata/playlists/
remote/userdata/addon_data/service.libraryautoupdate/last_run.txt
remote/userdata/addon_data/plugin.video.kod/db.sqlite
# File che variano ad ogni riavvio
remote/userdata/addon_data/plugin.video.elementum/.lockfile
remote/userdata/addon_data/plugin.video.kod/settings_channels/trakt_data.json
remote/userdata/addon_data/plugin.video.kod/settings_channels/videolibrary_data.json
remote/userdata/addon_data/script.service.playbackresumer/lastplayed.txt
remote/userdata/addon_data/script.service.playbackresumer/resumepoint.txt
remote/userdata/addon_data/skin.estuary/settings.xml

__*
*copy*
